// Place all the styles related to the menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
img { 
    height: 120px;
    max-width: 165px;
}
.menu_description{
  display: inline-block;
  padding-bottom: 15px;
  width: 400px;
  vertical-align: middle;
  td{
    text-align: left
  }
}
.menu{
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}
.menu_photos{
  display: inline-block;
  width: 600px;
}